<% if user_signed_in? && current_user.admin? %>
<div class="container">  
  <div class="row no-print">
    <div class="col-sm-12 center-block">
      <div class="title"><%= image_tag "http://giving.lifespan.org/image/logos/AAANELOGO_rgb.jpg", size: "390x190" %>
        Driver Compliments
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4 no-print">
      <div id="compliment-totals" class="title">
        <h2>Total Compliments: <span id="compliments-number"><%= @compliments.length %></span></h2>
      </div>
    </div>
    
    <div class="col-sm-5 no-print">
        <h2><%= link_to "Start Over", root_path, class: "btn btn-primary" %> &nbsp&nbsp<%= button_tag "Print", onClick: "window.print();", class: "btn btn-info" %></h2>
    </div> 
    
    <div class="col-sm-12 no-print"><hr></div>
  </div>

  <div class="row">
    <% @compliments.each do |c| %>
      <div id="<%= c.call_number %>" class="col-xs-6 page-break" >
        <div class="row compliment">
          
          <div class="col-sm-12">
            <p>
              <%= image_tag "http://giving.lifespan.org/image/logos/AAANELOGO_rgb.jpg", size: "140x80" %>
              <span style="font-size: 20px;">Compliment</span>
            </p>
          </div>
          
          <div class="col-sm-6">
            <h4><span class="bold">Call# </span><%= c.call_number %></h4>
          </div>
          <div class="col-sm-6">
             <h4><span class="bold">Date: </span><%= c.date %></h4>
             
           </div> 
          
          <div class="col-sm-12">
            <p>
              <h4><span class="bold">Driver: </span>&nbsp&nbsp<%= c.driver %></h4>
            </p>
          </br>
          </div>
          
          <div class="col-sm-pull-10">
            <p>
              <h4>
                <span class="bold line">&nbsp&nbsp&nbsp&nbsp-----------------------------------</span>
              </h4>
            </p>
          </div>
          
          <div class="col-sm-pull-10">
            <p>
              <h4>
                <span class="bold">&nbsp&nbsp&nbspSupervisor </span>
              </h4>
            </p>
          </div>
          
          <div class="col-sm-push-12">
            <p>
              <h4><span class="bold">&nbsp&nbsp&nbspGreat Job! Thank you! </span><span class="line"></span></h4>
            </p>
          </div>
          
          </div>
      </div>
    <% end %>
  </div>
  
</div>
<% elsif user_signed_in? %>
  <div class="container no-print">
    <div class="row center no-print">
   <h1> You must be an admin to use this program. Please contact management.</h1>
  </div>
</div>

<% else %>
 <div class="container no-print">
  <div class="row center">
 <h1> You must login to view or access any features. </h1>
</div>
</div>
<% end %>