<div class="container">  
  <div class="row no-print">
    <div class="col-sm-12 center-block">
      <div id="title"><%= image_tag "https://calstate.aaa.com/sites/all/themes/custom/aaa_responsive/img/logo.svg", size: "190x190" %>
        AAA Northeast Compliments
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4 no-print">
      <div id="compliment-totals">
        <h2>Total Compliments: <%= @compliments.length %></h2>
      </div>
    </div>
    
    <div class="col-sm-5 no-print">
        <h2><%= link_to "Start Over", root_path, class: "btn btn-primary" %> &nbsp&nbsp<%= button_tag "Print", onClick: "window.print();", class: "btn btn-info" %></h2>
    </div> 
    
    <div class="col-sm-12 no-print"><hr></div>
  </div>

  <div class="row">
    <% @compliments.each do |c| %>
      <div id="<%= c.id %>" class="col-sm-6 page-break" >
        <div class="row compliment">
          
          <div class="col-sm-12">
            <p>
              <%= image_tag "https://calstate.aaa.com/sites/all/themes/custom/aaa_responsive/img/logo.svg", size: "80x80" %>
              <span style="font-size: 15px;"> Compliment </span>
            </p>
          </div>
          
          <div class="col-sm-6">
            <h4><span class="bold">Call# </span><%= c.call_number %></h4>
          </div>
          <div class="col-sm-6">
             <h4><span class="bold">Date: </span><%= c.date %></h4>
             
           </div> 
          
          <div class="col-sm-12">
            <p>
              <h4><span class="bold">Driver: </span>&nbsp&nbsp<%= c.driver %></h4>
            </p>
          </br>
          </div>
          
          <div class="col-sm-pull-10">
            <p>
              <h4>
                <span class="bold line">&nbsp&nbsp&nbsp&nbsp-----------------------------------</span>
              </h4>
            </p>
          </div>
          
          <div class="col-sm-pull-10">
            <p>
              <h4>
                <span class="bold">&nbsp&nbsp&nbspSupervisor </span>
              </h4>
            </p>
          </div>
          
          <div class="col-sm-push-12">
            <p>
              <h4><span class="bold">&nbsp&nbsp&nbspGreat Job! Thank you! </span><span class="line"></span></h4>
            </p>
          </div>
          
          </div>
      </div>
    <% end %>
  </div>
  
</div>